body {
    background-color: black;
    color: white;
    margin: 0;
}

.navbar {
    position: fixed;
    width: 100vw;
    padding-top: 1vh;
    background-color: black;
    display: flex;
    padding-left: 2vh;
    height: 5vh;
    font-size: 3.5vh;
}

.navbar a {
    align-self: center;
    font-family: 'Lato', sans-serif;
    color: #4b4b4b;
    text-decoration: none;
    transition: .7s;
}

.navbar a:hover {
    transition: .7s;
    color: #f1f1f1;
}





.restaurants {
    padding-left: 2vh;
    padding-right: 2vh;
    display: grid;
}

.card {
    height: 300px;
    margin-bottom: 2vh;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.card:link {
    color: rgba(0,0,0,0);
}

.addrest {
    height: 300px;
    margin-bottom: 2vh;
    text-align: center;
    border: 1px white solid;
}

.addrest:link {
    color: rgba(0,0,0,0);
}

.overlay {
    height: 300px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
    color:rgba(255, 255, 255, 0);
    font-size: 45px;
}

.overlay h1 {
    font-weight: normal;
    margin: 0;
    padding-top: 100px;
}

.overlay:hover {
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.5);
    color:rgb(255, 255, 255);
}





.over {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 1s;
}
  
.over-content {
    font-family: 'Lato', sans-serif;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    line-height: 200%;
}

.over-content button {
    font-size: 110%;
    margin-top: 2vh;
    border: none;
    border-radius: 1vh;
    background-color:#81818144;
	display:inline-block;
	cursor:pointer;
	color:#f1f1f19c;
	padding:6px 24px;
}

.over-content button:hover {
    transition: .7s;
    background-color: #8181812f;
}

.over .closebtn {
    text-decoration: none;
    color: #818181;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.over .closebtn:hover {
    color: #f1f1f1;
    transition: .7s;
}





.restimg {
    height: 40vh;
    background-position: center;
    text-align: center;
    background-size: cover;
}

.overlayimg {
    font-size: 10vh;
    padding-top: 12vh;
    height: 40vh;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
    color:rgba(255, 255, 255, 0);
}

.overlayimg:hover {
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.5);
    color:rgb(255, 255, 255);
}

.menus {
    font-weight: lighter;
    text-align: center;
}

.menus h1 {
    font-weight: normal;
    background: linear-gradient(90deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.5) 40%, rgba(255,255,255,0.5) 60%, rgba(0,0,0,0) 75%);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 3px;
    padding-bottom: 1vh;
    font-size: 5vh;
}

.menus h2 {
    font-weight: normal;
    line-height: 60%;
}

.menus h3 {
    font-weight: normal;
    padding-bottom: 1.5vh;
    line-height: 0%;
    font-size: 1.5vh;
}

.menus h4 {
    font-weight: normal;
    font-size: 3vh;
}

.but {
    border: none;
    font-size: 80%;
    margin-top: 2vh;
	background-color:#81818144;
	border-radius:6px;
	cursor:pointer;
	color:#f1f1f19c;
	padding:2px 12px;
}

.but:hover {
    transition: .7s;
    background-color:#8181812f;
}

.footer {
    margin: 7vh;
    display: flex;
    justify-content: space-evenly;
}



@media screen and (min-width: 40em) {

    .card {
        margin-bottom: 0;
    }

    section {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 2vh;
    }

}